{
  admin unix//run/caddy/admin.sock
  acme_dns cloudflare {env.CLOUDFLARE_API_TOKEN}
  servers {
    trusted_proxies cloudflare {
      interval 12h
      timeout 15s
    }
    client_ip_headers Cf-Connecting-Ip
  }
  layer4 {
    :853 {
      route {
        proxy 127.0.0.1:853
      }
    }
  }
}

yusoofsh.cloud {
  redir https://www.yusoofsh.id{uri} permanent
}
